.home4-container {
    display: flex;
    flex-direction: column; /* Allow content to stack */
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh; /* Use min-height instead of height */
    position: relative;
    overflow-y: auto;
}

.home4-container .landing-image {
    width: 100%;
    height: 100vh; /* Keep full height for the image */
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
}

.home4-container .landing-image .landing-image-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    will-change: transform;
    animation: Landing-image-intro 3s ease-in-out forwards;
}

.content {
    position: relative;
    z-index: 2; /* Ensure it's above the background */
    padding: 50px;
    text-align: center;
    color: white;
}
